body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#projecttext{
	padding-left: 52px;
	padding-right:50px;
	text-align:left;
	max-width:850px;
	//background-color:rgba(200,0,0,.1);
}

#projectimg{
	flex-grow: 1;
	display:flex;
	justify-content:center;
	padding-top:55px;
	//background-color:rgba(0,200,0,.1);
}

#projectimg img{
	max-width:250px;
	//background-color:rgba(0,200,0,.1);
}

@media only screen and (max-width: 1220px) {
	#projectimg{
		display:none;
	}
}

#projecttext p{
	padding-top:10px;
	padding-bottom:10px;
	//background-color:rgba(200,0,0,.1);
}

#projecttext h1 { 
	font-weight: 100; 
	font-size: 38px;
}

#projecttext h2 { 
	font-weight: 300;
	font-size: 24px; 
}

#projecttext ul{
	padding-left:25px;
	max-width:650px;
	list-style-type: circle;
}

#projecttext a{
	color: #555;
	font-size:16px;
	text-decoration: none;	
}


#projecttext a:visited {
  color: #777;
}

#projecttext a:hover {
  color: #222;
}

#projecttext a:active {
  color: #000;
}

.collapsible {
  cursor: pointer;
}

.active, .collapsible:hover {
}

.content {
  padding: 0 18px;
}

#comingsoondiv {
position:absolute;
top:50%;
left:50%;
margin-left:-100px;
}