body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#projecttext{
	padding-left: 52px;
	padding-right:50px;
	text-align:left;
	max-width:850px;
	//background-color:rgba(200,0,0,.1);
}

#projecttext p{
	padding-top:10px;
	padding-bottom:10px;
}

.imgsubtitle{
	text-align:center;
	width:100%;
	max-width:650px;
	font-size:14px;
}

#projecttext h1 { 
	font-weight: 100; 
	font-size: 38px;
}

#projecttext h2 { 
	font-weight: 300;
	font-size: 24px; 
}

#projecttext ul{
	padding-left:25px;
	max-width:650px;
	list-style-type: circle;
}

#projecttext a{
	color: #555;
	font-size:16px;
	text-decoration: none;	
}


#projecttext a:visited {
  color: #777;
}

#projecttext a:hover {
  color: #222;
}

#projecttext a:active {
  color: #000;
}

.content {
  padding: 0 18px;
}

.projectimage {
	width:100%;
	max-width:650px;
}

.gallery {
	width:100%;
	max-width:650px;
	display:flex;
  	flex-wrap: nowrap;
}

.galleryimage {
	width:25%;
}

#comingsoondiv {
position:absolute;
top:50%;
left:50%;
margin-left:-100px;
}








@media only screen and (max-width: 768px) {
	#projecttext{
		padding-left: 5px;
		padding-right:5px;
	}
}