:root {
  --colour1: #C6ACEC;
  --colour2: #228C63;
  --bgcolour: #5A92C4;
}

body {
	height:100%;
    margin:0px;
	padding:0px;
	cursor: default;
	background-color:var(--bgcolour);
	font-family: 'Roboto', sans-serif;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}

#canvasbox {
	position:absolute;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	z-index: -1;
}

#iconbox {
	width:40px;
	display:block;
	position:absolute;
	bottom:0px;
	right:0px;
	background-color:var(--bgcolour);
	margin:4px;
	border-radius:4px;
	height:365px;
	padding:0px;
}

.icon {
	position: relative;
	display: block;
	float:left;
	margin:0px;
	padding:0px;
}

.icon-img {
	margin-top:4px;
	margin-left:4px;
	margin-right:0px;
	margin-bottom:0px;
	padding:0px;
	border:none;
	border-radius:4px;
	vertical-align: bottom;
	background-color:#404040;
}

.icon-img:hover {
	background-color:#303030;
}

.icon-img-clicked {
	margin-top:4px;
	margin-left:4px;
	margin-right:0px;
	margin-bottom:0px;
	padding:0px;
	border:none;
	border-radius:4px;
	vertical-align: bottom;
	background-color:#202020;
}

.icon-img-clicked:hover {
	background-color:#303030;
}

#length-icon {
	width:32px;
	height:32px;
	margin-top:4px;
	margin-left:4px;
	margin-right:0px;
	margin-bottom:0px;
}

#colourpopup{
	display:none;
}







.icon .helpbox {
	visibility: hidden;
	height:19px;
	background-color: #303030;
	color: #eee;
	text-align: center;
	font-size:15px;
	white-space: nowrap;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 3;
	right: 125%;
	top: 12%;
	opacity: 0;
	transition: opacity .3s;
	transition-delay: .5s;
}

.icon .helpbox::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -5px;
	border-width: 4px;
	border-style: solid;
	border-color: transparent transparent transparent #303030;
}

.icon:hover .helpbox {
	visibility: visible;
	opacity: 1;
}
 
button {
	background-color:#404040;
	border:none;
	border-radius:4px;
	height:32px;
	display:inline-block;
	margin:4px;
	color:white;
	text-align:center;
	font-size:15px;
	font-family: 'Roboto', sans-serif;
	padding:0px;
	padding-left:15px;
	padding-right:15px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

button:hover {background-color: #303030}

button:active {
	background-color: #202020;
} 

.dpad {
	display:block;
	width:30px;
	height:30px;
	padding:0px;
	margin:0px;
}

#upbutton {
	position:absolute;
	left:30px;
	top:0px;
}

#leftbutton {
	position:absolute;
	left:0px;
	top:30px;
}

#rightbutton {
	position:absolute;
	left:60px;
	top:30px;
}

#downbutton {
	position:absolute;
	left:30px;
	top:60px;
}

.dpadbutton {
	cursor: pointer;
}

#scalemenu {
	display:none;
	position: absolute;
	height:29px;
	width:100px;
	right: 125%;
	top: 12%;
	background-color: #303030;
	border-radius: 6px;
	z-index: 4;
}

#colourmenu {
	display:none;
	position: absolute;
	height:29px;
	width:140px;
	right: 125%;
	top: 12%;
	background-color: #303030;
	border-radius: 6px;
	z-index: 4;
	padding-left:5px;
}

#translatemenu {
	display:none;
	position: absolute;
	height:90px;
	width:90px;
	right: 125%;
	top: -30px;
	background-color: #303030;
	border-radius: 6px;
	z-index: 4;
}

#confirmmenu {
	display:none;
	position: absolute;
	height:32px;
	width:32px;
	right: 125%;
	top: 0px;
	background-color: #404040;
	border-radius: 6px;
	z-index: 4;
}

#confirmmenu:hover {background-color: #303030}

#confirmmenu:active {
	background-color: #202020;
} 

#infoscreen {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
} 

#infobox {
	position:relative;
	top:50%;
	left:50%;
	width:400px;
	height:100px;
	background-color: #999;
	color: #eee;
	text-align:center;
	border-radius: 20px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	padding:15px;
}

#infomessage {
	font-size: 30px;
} 

#confirmscreen {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
} 

#confirmbox {
	display:none;
	position:relative;
	top:50%;
	left:50%;
	width:400px;
	height:100px;
	background-color: #999;
	color: #eee;
	text-align:center;
	border-radius: 20px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	padding:15px;
}

#confirmmessage {
	font-size: 30px;
} 

#openscreen {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
} 

#openbox {
	position:relative;
	top:50%;
	left:50%;
	width:400px;
	height:100px;
	background-color: #999;
	color: #eee;
	text-align:center;
	border-radius: 20px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	padding:15px;
}

#openmessage {
	font-size: 30px;
}

#codetextinput {
	height: 32px; 
	width: 300px; 
	display:inline-block;
}

#savescreen {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
} 

#savebox {
	position:relative;
	top:50%;
	left:50%;
	width:400px;
	height:265px;
	background-color: #999;
	color: #eee;
	text-align:center;
	border-radius: 20px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	padding:15px;
}

#savemessage {
	font-size: 30px;
}

#codetext {
	height: 32px; 
	display:inline-block;
}
 
input[type=color] {
  -webkit-appearance: none;
  width: 30px;
  margin-left:5px;
}
 
input[type=range] {
  -webkit-appearance: none;
  width: 90%;
  margin-left:5%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 2px;
  cursor: pointer;
  background: #ddd;
}
input[type=range]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #303030;
  border: 1px solid #dddddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ddd;
}
input[type=range]::-moz-range-track {
  width: 90%;
  height: 2px;
  cursor: pointer;
  background: #ddd;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ddd;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 90%;
  height: 2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ddd;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
}
input[type=range]::-ms-thumb {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #ddd;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ddd;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ddd;
} 

input[type=text] {
	background-color:#404040;
	border:none;
	border-radius:4px;
	display:block;
	margin:4px;
	color:white;
	text-align:center;
	font-size:15px;
	font-family: 'Roboto', sans-serif;
	padding:0px;
	line-height:32px;
}

input[type=text]:hover {
	background-color:#303030;
}

input[type=text]:focus {
	border:none;
	outline:none;
	background-color:#202020;
}

::selection {
	height:32px;
	color: var(--colour2);
	background: var(--colour1);
}

 

@media only screen and (max-height: 375px) {
  /* For mobile phones: */
  
	#iconbox {
		width:76px;
		display:block;
		position:absolute;
		bottom:0px;
		right:0px;
		background-color:var(--bgcolour);
		margin:4px;
		border-radius:4px;
		height:185px;
		padding:0px;
	}
}
