html, body {
	height: 100%;
	width: 100%;
	margin:0px;
	padding:0px;
}
body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
 	background-color:#1a1a1a;
    -webkit-text-size-adjust: 100%;
}

/*///////////////////////HEADER//////////////////////*/
#header {
	flex-shrink: 0;
	background-color:gray;
	background-color:#fafafa;
}
.menu{
	width:850px;
	margin:auto;
	display:block;
}
.menu a{
	float:left;
	display:block;
	height:50px;
	line-height: 50px;
	font-size:25px;
	color:#1a1a1a;
	padding-left:10px;
	padding-right:10px;
  	text-decoration: none;
}
.menu a:hover, .menu #active:hover{
  	text-decoration: underline #F8727E;
}
.menudivider{
	float:left;
	display:block;
	height:50px;
	line-height: 50px;
	font-size:9px;
	margin-left:30px;
	margin-right:30px;
	color:#1a1a1a;
}
.menu #active {
	text-decoration:underline;
}
.menu .menuicon {
  	display: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;
}

@media screen and (max-width: 850px) {
	.menudivider{
		display:none;
	}
	.menu a{
		padding-left:20px;
		padding-right:20px;
	}
}

@media screen and (max-width: 700px) {
	.menu a{
		display: none;
	}
	.menu .menuicon {
		float: left;
		display: block;
		margin-left:10px;
		color:#F8727E;
	}
	.menu .menuicon:hover{
		text-decoration:none;
	}
	.menu.expanded {
		position: absolute;
	}
	.menu.expanded a {
		float:none;
		display: block;
		width:100%;
		height:50px;
		background-color:#fafafa;
		z-index:100;
	}
}

.headercolour{
	display:block;
	float:right;
	width:30px;
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
	padding:0px;
	border-radius:2000px;
	border:solid 1px #666;
	text-align:center;
	line-height: 0px;
	font-size:16px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;
	color:#fafafa;	
}

/*//////////////////////////CONTENT////////////////////////*/
#content {
	flex: 1 0 auto;
	max-width:850px;
	width:90%;
	margin:0 auto;
	padding-bottom:10px;
}
#logobox {
	height:60px;
	z-index:1;
}
.stickylogo {
	position: fixed;
	top: 0;
	max-width:850px;
	width:90%;
	z-index:1;
}
.stickycontent{
	padding-top:62px;
}
.homecontentitem{
	width:33%;
	padding-top: 33%;
	display:block;
	float:left;
	background-color:#fafafa;
	border-radius:1000px;
}
.homecontentitem:hover{
	background-color:#eee;
}

/*///////////////////////FOOTER//////////////////////*/
#footer {
	flex-shrink: 0;
	padding-right:60px;
	background-color:#fafafa;
}

/*///////////////////////OTHER//////////////////////*/
#instabox {
	position:fixed;
	bottom:1px;
	right:1px;
	margin:0px;
	padding:0px;
}