document {
	height:100%;
    margin:0px;
	padding:0px;
	overflow:hidden;
}

body {
	height:100%;
    margin:0px;
	padding:0px;
	cursor: default;
 	background-color:#1a1a1a;
	font-family: 'Roboto', sans-serif;
}

#header {
	position:fixed;
	top:0px;
	width:100%;
	height:50px;
	background-color:#fafafa;
	margin:0px;
	padding:0px;
	z-index:100;
}

#menu{
	width:850px;
	margin:auto;
	display:block;
}
.menuitem{
	float:left;
	display:block;
	height:50px;
	line-height: 50px;
	font-size:25px;
	color:#1a1a1a;
	padding-left:10px;
	padding-right:10px;
}
.menudivider{
	float:left;
	display:block;
	height:50px;
	line-height: 50px;
	font-size:9px;
	margin-left:30px;
	margin-right:30px;
	color:#1a1a1a;
}


#menudrop {
	display: none;
}

@media all and (max-width: 900px) {
	#menu{
		display:none;
	}

	#menudrop {
		position: relative;
		display: block;
		float:left;
		margin-left:40px;
	}

	#menudropmenu{
		height:50px;
		line-height: 50px;
		font-size:25px;
		color:#1a1a1a;
		min-width:160px;
		padding-left:10px;
		margin-right:-10px;
	}

	#menudroplist {
		display:none;
		position:absolute;
		min-width:160px;
	}

	#menudroplist a{
		display:block;
		height:50px;
		line-height: 50px;
		font-size:25px;
		text-decoration: none;
		padding-left:10px;
		padding-right:10px;
		margin-right:-10px;
		background-color:#fafafa;
		color:#1a1a1a;
	}

	#menudrop:hover #menudroplist{
		display:block;
	}

	#menudrop:hover #menudropmenu{
		background-color:#eee;
	}

	#menudroplist a:hover{
		background-color:#eee;
	}
	
	#menubars {
		display:block;
		float:right;
		margin:10px;
		width:30px;
		height:30px;
	}
	.menubar{
		height:5px;
		width:100%;
		background-color:#F8727E;
		margin-top:4px;
		border-radius:1000px;
	}
}

#random {
	background-color:#F8727E;
	color:#fafafa;
}

#brando {
	background-color:#ddd;
	color:#F86C7E;
}

#grey {
	background-color:#ddd;
	color:#F86C7E;
}

#colour {
	background-color:#56a;
	color:#ddd;
}

button:focus {outline:0;}

.headerbutton {
	display:block;
	float:left;
	width:50px;
	height:50px;
	border:none;
	margin:0px;
	padding:0px;
	text-align: center;
	line-height: 0px;
	font-size:21px;
	font-weight: bold;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;
}

.headercolour{
	display:block;
	float:right;
	width:30px;
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
	padding:0px;
	border-radius:20px;
	border:solid 1px #555;
	text-align:center;
	line-height: 0px;
	font-size:16px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;
	color:#fafafa;
	
}

#contentbox{
	position:relative;
	width:90%;
	max-width:800px;
	height:100%;
	margin:auto;
	margin-top:100px;
	overflow:scroll;
	color:#ddd;
}

#logobox {
	position:fixed;
	height:60px;
	top:40px;
	margin:0px;
	padding:0px;
	z-index:1;
}

#logo {
	position:absolute;
	z-index:1;
}
.homecontentitem{
	width:33%;
	padding-top: 33%;
	display:block;
	float:left;
	background-color:#fafafa;
	border-radius:1000px;
}
.homecontentitem:hover{
	background-color:#eee;
}

#instabox {
	position:fixed;
	bottom:0px;
	right:0px;
	width:40px;
	height:40px;
	margin:0px;
	padding:0px;
}

#footer {
	width:100%;
	height:50px;
	background-color:#fafafa;
	margin-top:25px;
	padding:0px;
}
